body {
  background-color: #131926;
  font-size: 16px;
  color: #fff;
}

a {
  color: #7692cf;
}

header {
  text-align: center;
}

header .list-inline {
  font-size: 2em;
}

.card {
  color: #333;
}
